input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.logincontainer {
  padding: 16px;
  width: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

span.psw {
  float: right;
  padding-top: 16px;
}

.logincontainer .error {
  color: red;
}

.logincontainer .errorMsg {
  padding-left: 10px;
  color: red;
  font-size: 13px;
}
