.App {
  text-align: center;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #000;
}

.body {
  align-items: center;
  justify-content: center;
  align-self: center;
  align-content: center;
  background-color: red;
}
